body{
    margin: 1% 1% 1% 1%;
}

#appHeader{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: left;
    border-radius: 20em;
    background-color: aliceblue;
    align-items: center;
    box-shadow: 0.5em 0.5em 1em rgba(0,0,0,0.4);
    margin-bottom: 1%;
}

#appheadertitle{
    font-size: 80%;
    font-family: "Michroma", serif;
    font-style: normal;
}

#logo{
    perspective: 1000px;
    display: flex;
    background-color: transparent;
    width: 15%;
    border-radius: 0em 1em 1em 0em;
    align-items: center;
    box-shadow: 0.25em 0em 0.2em -0.15em rgba(0,0,0,0.4);
    margin-right: 1%;


}
#logosrc{
    max-width: 60%;
    height: auto;
}

#appname{
    align-items: center;
    justify-content: center;
    margin-right: 1%;
}

.subtext{
    font-size: 70%;
}

#mainbody{
    border-radius: 2em;
    boxshadow: 1em 1em 0.2em rgba(0,0,0,0.4);
    display: flex;
    background-color: aliceblue;
    padding-left: 1%;
}

#tools{
    display: flex;
    flex-direction: column;
    border-radius: 20em;
    box-shadow: 0.25em 0em 0.2em -0.15em rgba(0,0,0,0.4);
    width: fit-content;
    height: 100%;
    justify-content: center;
    background-color: aliceblue;
    align-items: center;
    margin-right: 1%;
}

#tools:first-child{
    margin-top: 1%;
}

.toolbutton{
    width: fit-content;
    margin-bottom: 1%;
    background-color: transparent;
    border-color: transparent;
    font-size: 65%;
}

.toolbutton:hover{
    background-color: grey;
    border-radius: 20em;
}

#characterSelect{
    border-radius: 20em;
    border: black solid 0.05em;
    background-color: white;
    font-family: "Michroma", serif;
    font-style: normal;
    font-size: medium;
}

#characterselector{

}
/*--------------------------------------------TO BE IMPLEMENTED AT A LATER DATE---------------------------------------*/
#logo-inner{
    display: block;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

#logo:hover #logo-inner{
    transform: rotateY(180deg);
}

#logo-front{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#logo-back{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#logo-back{
    transform: rotateY(180deg);
}